* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 70px;
}

.heading {
    position: absolute;
    top: 100px;
    text-decoration: underline;
}